@import 'vars';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $white;
  color: $grey;
  font-size: 62.5%;
}

a {
  color: $blue;

  &:visited {
    color: $purple;
  }
}

