$body-bgcolor: #fff;
$serif-fallback-fonts: Georgia, serif;
$serif-fonts: Merriweather, $serif-fallback-fonts;
$sans-fallback-fonts: Consolas, Menlo, Inconsolata, "Courier New", monospace;
$sans-fonts: "Fira Code", $sans-fallback-fonts;
$body-color: #3c3c3c;
$heading-color: #444;
$mark-color: rgba(7, 102, 120, 0.19);
