$serif-fallback-fonts: Georgia, serif;
$serif-fonts: Merriweather, $serif-fallback-fonts;
$sans-fallback-fonts: Consolas, Menlo, Inconsolata, "Courier New", monospace;
$sans-fonts: "Fira Code", $sans-fallback-fonts;

$white: #fff;
$grey: #3c3c3c;
$light-grey: #444;
$translucent-aqua: rgba(7, 102, 120, .19);
$purple: #8f3f71;
$light-purple: #b16286;
$blue: #076678;
$light-blue: #458588;
$lighter-grey: rgba(0, 0, 0, .15);
$time-color: #666;

$phone: 'only screen and (max-width : 767px)';
