<footer>
  <span class="copyleft">CC BY-NC-SA 4.0 | Sahil Muthoo</span>

  <div class="container">
    <% link_to 'https://twitter.com/sahilmuthoo', class: 'icon' do %>
        <i class="icon-twitter" title="My Twitter profile"></i>
        <span class="sr-only">My Twitter profile</span>
    <% end %>

    <a href="mailto:sahil.muthoo@gmail.com" class="icon">
      <i class="icon-envelop" title="sahil.muthoo@gmail.com"></i>
      <span class="sr-only">sahil.muthoo@gmail.com</span>
    </a>

    <% link_to 'https://github.com/sahilm', class: 'icon' do %>
        <i class="icon-github" title="My GitHub profile"></i>
        <span class="sr-only">My GitHub profile</span>
    <% end %>
  </div>
</footer>
