<footer>
  <span class="copyleft">CC BY-NC-SA 4.0 | Sahil Muthoo</span>

  <div class="container">
    <% link_to 'https://twitter.com/sahilmuthoo', class: 'icon' do %>
        <span class="icon-twitter"></span>
    <% end %>

    <a href="mailto:sahil.muthoo@gmail.com" class="icon">
      <span class="icon-envelop"></span>
    </a>

    <% link_to 'https://github.com/sahilm', class: 'icon' do %>
        <span class="icon-github"></span>
    <% end %>
  </div>
</footer>
