<footer>
  <div class="bio">
    <p>
      Sahil Muthoo. I write software for the joy of creation. When castles of sand in my head come alive
      inside a computer, my day is made.
    </p>
  </div>
  <div class="contact">
    <%= link_to 'github.com/sahilm', 'https://github.com/sahilm/' %>
    <%= link_to 'twitter.com/sahilmuthoo', 'https://twitter.com/sahilmuthoo/' %>
  </div>
</footer>
