@import 'partials/firacode';
@import 'partials/merriweather';
@import 'partials/gruvbox';
@import 'partials/base';
@import 'partials/vars';

.article {
  p {
    font-size: .95rem;
    line-height: 1.75;
    word-wrap: break-word;

    code {
      font-style: normal;
      font-weight: 400;
      background-color: $code-bgcolor;

      font-family: $sans-fallback-fonts;

      .wf-active & {
        font-family: $sans-fonts;
      }
    }
  }

  .title > .anchor {
    padding-right: 2px;
    margin-left: -1rem;
    visibility: hidden;
    font-size: .95rem;
    color: $dark-grey;
    text-decoration: none;
  }

  .anchor {
    &:hover {
      visibility: visible;
    }
  }

  .title {
    &:hover {
      .anchor {
        visibility: visible;
      }
    }
  }

  //.title .anchor {
  //  display: inline-block;
  //}

  figure {
    img {
      height: 100%;
      width: 100%;
    }

    figcaption {
      font-family: $sans-fallback-fonts;
      font-size: .6rem;
      margin: .2rem 0 0;
      text-align: center;

      .wf-active & {
        font-family: $sans-fonts;
      }
    }
  }

  .heading {
    display: block;
    font-family: $sans-fallback-fonts;
    font-size: .7rem;
    margin: .5rem 0 0;

    .wf-active & {
      font-family: $sans-fonts;
    }
  }

  header {
    h1 {
      margin: 1rem 0 1.8rem;
    }
  }

  h1,
  h2,
  h3,
  p,
  .highlight {
    margin-top: 1.5rem;
  }

  ul,
  ol {
    margin: .6rem 0;
    font-size: .95rem;
    @media #{$phone} {
      margin: .6rem 0 0 .6rem;
    }

    li {
      margin-top: .5rem;
      list-style-type: circle;
    }
  }

  h1,
  h2,
  h3 {
    color: $light-grey;
    font-weight: 300;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  mark {
    background-color: $mark-bgcolor;
  }

}

.syntax-highlight {
  overflow: auto;
  padding: .5rem 1rem;
  font-size: .8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;

  code {
    font-family: $sans-fallback-fonts;

    .wf-active & {
      font-family: $sans-fonts;
    }
  }
}

