@import 'partials/fonts';
@import 'partials/gruvbox';
@import 'partials/reset';
@import 'partials/vars';

body {
  background-color: $white;
  color: $grey;
  font-size: 62.5%;
}

article {
  font-family: $serif-fallback-fonts;
  font-feature-settings: "calt" 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 300;
  height: 100%;
  line-height: 1.25;
  margin: 0 auto;
  max-width: 43.75rem;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;

  .wf-active & {
    font-family: $serif-fonts;
  }
}

.heading {
  display: block;
  font-family: $sans-fallback-fonts;
  font-size: .7rem;
  margin: .5rem 0 0;

  .wf-active & {
    font-family: $sans-fonts;
  }
}

header {
  h1 {
    margin: 1rem 0 1.5rem;
  }
}

h1,
h2,
h3,
p,
.highlight {
  margin: 1.5rem 0;
}

h1,
h2,
h3 {
  color: $light-grey;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  font-size: .95rem;
  line-height: 1.75;
  word-wrap: break-word;
}

pre {
  font-size: .8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  overflow: auto;
  padding: .5rem 1rem;

  code {
    font-family: $sans-fallback-fonts;

    .wf-active & {
      font-family: $sans-fonts;
    }
  }
}

mark {
  background-color: $translucent-aqua;
}

img {
  height: 100%;
  width: 100%;
}
