---
title: Sahil Muthoo
image: "bulb-bot.svg"
description: This is where I write.
type: website
---

<header>
  <h1>Sahil Muthoo</h1>
</header>
<% blog.articles.each do |article| %>
    <article>
      <h1>
        <time><%= article_date(article) %></time>
        <div class="link">
          <a href="<%= article.url %>"><%= article.title %></a>
        </div>
      </h1>
    </article>
    <hr/>
<% end %>
