<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= auto_display_meta_tags %>
  <%= javascript_inline_tag 'webfontloader' -%>
  <script>
    WebFont.load({
      custom: {
        families: ['Fira Code', 'Merriweather']
      },
      timeout: 5000
    });
  </script>
  <%= yield_content :head %>
</head>
<body>
<%= yield %>
</body>
</html>
